In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df=pd.read_csv('cars.csv')

In [5]:
df.sample(10)

         brand  km_driven    fuel                 owner  selling_price
2404      Tata      20000  Petrol           First Owner         390000
6919    Maruti      65000  Petrol  Fourth & Above Owner          70000
4352      Tata     225000  Diesel           Third Owner         150000
7158   Hyundai      20000  Petrol           First Owner         655000
1780   Hyundai      70000  Diesel          Second Owner         320000
877   Mahindra     120000  Diesel          Second Owner         480000
4311    Maruti      13000  Petrol           First Owner         310000
5306   Renault      30000  Petrol           First Owner         900000
4827    Maruti      69779  Petrol           First Owner         600000
2689    Maruti      50000  Diesel           First Owner         490000

In [6]:
df['brand'].value_counts()

Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: brand, dtype: int64

In [7]:
df['brand'].nunique()

32

In [8]:
df['fuel'].value_counts()

Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: fuel, dtype: int64

In [9]:
df['fuel'].nunique()

4

In [10]:
df['owner'].value_counts()

First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: owner, dtype: int64

In [11]:
df['owner'].nunique()

5

# One HOt encoding using Pandas

In [12]:
pd.get_dummies(df,columns=['fuel','owner']) #multicolinearlity isn't removed

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,0,1,0,0,1,0,0,0,0
1,Skoda,120000,370000,0,1,0,0,0,0,1,0,0
2,Honda,140000,158000,0,0,0,1,0,0,0,0,1
3,Hyundai,127000,225000,0,1,0,0,1,0,0,0,0
4,Maruti,120000,130000,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,0,1,1,0,0,0,0
8124,Hyundai,119000,135000,0,1,0,0,0,1,0,0,0
8125,Maruti,120000,382000,0,1,0,0,1,0,0,0,0
8126,Tata,25000,290000,0,1,0,0,1,0,0,0,0
8127,Tata,25000,290000,0,1,0,0,1,0,0,0,0

In [13]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True)#multicolinearility removed

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

# One hot encoding with the help of sklearn

In [14]:
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(['selling_price'],axis=1),df['selling_price'],test_size=0.2,random_state=0)

In [16]:
X_train.head()

         brand  km_driven    fuel         owner
3042   Hyundai      60000     LPG   First Owner
1520      Tata     150000  Diesel   Third Owner
2611   Hyundai     110000  Diesel  Second Owner
3544  Mahindra      28000  Diesel  Second Owner
4138    Maruti      15000  Petrol   First Owner

In [20]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(drop='first',sparse=False,dtype=np.int32)
X_train_new=ohe.fit_transform(X_train[['fuel']])
X_test_new=ohe.transform(X_test)

C:\Users\zuhai\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- brand
- km_driven
- owner
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

ValueError: X has 4 features, but OneHotEncoder is expecting 1 features as input.

In [ ]:
X_train_new

In [ ]:
X_train_new = pd.DataFrame(X_train_new).rename(columns={0:'fuel_Diesel',1:'fuel_LPG',
                                                        2:'fuel_Petrol',
                                                        3:'owner_Fourth & Above Owner',
                                                       4:'owner_Second Owner',5:'owner_Test Drive Car',
                                                       6:'owner_Third Owner'})
X_test_new = pd.DataFrame(X_test_new).rename(columns={0:'fuel_Diesel',1:'fuel_LPG',
                                                        2:'fuel_Petrol',
                                                        3:'owner_Fourth & Above Owner',
                                                       4:'owner_Second Owner',5:'owner_Test Drive Car',
                                                       6:'owner_Third Owner'})

In [ ]:
X_train_new

In [ ]:
X_test_new

In [ ]:
X_train_new=pd.DataFrame(np.hstack((X_train[['brand','km_driven']].values,X_train_new))).rename(columns={0:'brand',1:'km_driven',2:'fuel_Diesel',
                                                                                                         3:'fuel_LPG',4:'fuel_Petrol',5:'owner_Fourth & Above Owner',
                                                                                                         6:'owner_Second Owner',7:'owner_Test Drive Car',
                                                                                                         8:'owner_Third Owner'})
X_test_new=pd.DataFrame(np.hstack((X_test[['brand','km_driven']].values,X_test_new))).rename(columns={0:'brand',1:'km_driven',2:'fuel_Diesel',
                                                                                                         3:'fuel_LPG',4:'fuel_Petrol',5:'owner_Fourth & Above Owner',
                                                                                                         6:'owner_Second Owner',7:'owner_Test Drive Car',
                                                                                                         8:'owner_Third Owner'})

In [ ]:
X_train_new

# One hot encoding of frequent variable 'brand'

In [ ]:
counts=df['brand'].value_counts()
df['brand'].unique()
threshold=100
repl=counts[counts<=threshold].index
new=pd.get_dummies(df['brand'].replace(repl,'uncommon'))

# Creating a final dataset

In [ ]:
result=pd.concat([X_train_new,new,df['selling_price']],axis=1)

In [ ]:
result.head()

In [ ]:
result.drop(['brand'],axis=1,inplace=True)

In [ ]:
result.head()

In [ ]:
X_train_final,X_test_final,y_train_final,y_test_final=train_test_split(result.drop(['selling_price'],axis=1),result['selling_price'],test_size=0.2,random_state=0)

In [ ]:
X_train_final.head()

In [ ]:
X_test_final.head()

In [ ]:
y_test_final.head()

In [ ]:
y_train_final.head()